.bg{
    background-image: url(https://hexschool.github.io/JavaScript_HomeWork/preview/page-1-acknowledgement.png?1632901508706);
    background-position: center cenet;
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position:relative;
    margin-bottom: 121px;
  }
  
  .logo{
    margin-bottom: 96px;
    
    a{
      display: block;
      color: #fff;
      font-size: 40px;
    }
  }
  
  .select-group{
    background: rgba(255,255,255,0.70);
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    width: 44%;
    height: 12.6%;
    font-size: 18px;
    line-height: 21px;
    padding-left: 10px;
    padding-right: 10px;
    z-index:1080;
  }
  
  .tabs-group{
    position:absolute;
    bottom:-84px;
    
    width: 78%;
    background-color: #FFF;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 5px;
    
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 26px;
    
    @include pad{
       bottom: -140px;
       padding-top: 8px;
       padding-bottom: 8px;
       padding-left: 16px;
    
    }
  }
  
  .tabs-title{
    font-size: 18px;
    margin-bottom: 14px;
  }
  
  .tabs-list{
    display: inline-flex;
    flex-wrap: wrap;  
    gap: 12px; 
    padding-left: 25px;
    padding-right: 25px;
    
    li{
      white-space: nowrap;
      
      &:nth-child(1n) a{
        background-color: #8A82CC;
     }
      &:nth-child(2n) a{
        background-color:#FFA782;
     }
      &:nth-child(3n) a{
        background-color: #F5D005;
      }
      &:nth-child(4n) a{
        background-color: #559AC8;
      }
    }
    a{
      display: block;
      padding: 12px 34px;
      border-radius: 5px;
      font-size: 20px;
      color: #FFFFFF;
    }
    
    
  }
  
  
  .hr{
    width: 88%;
    margin: 0 auto;
    border-bottom: 1px dashed #559AC8;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position:relative;
    
    margin-bottom: 12px;
    a{
      display: flex;
      position:absolute;
      
      color:  #559AC8;
      font-size: 24px;
      background-color: #fff;
    }
  }
  
  .container{
    padding-top: 65px;
    padding-bottom: 39px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .subtitle{
    font-size: 36px;
    color: #8A82CC;
    text-align: center;
    margin-bottom: 24px;
  }
  
  .card-list{
    display: flex; //inline-flex也可以
    flex-wrap: wrap;
    gap: 4%; 
  }
  
  .card{
    width: 30.3%;
    margin-bottom: 36px;
    
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    
    border-radius: 3px;
    padding-bottom: 0;
    
    display: flex;
    flex-direction: column;
    
    //&:not(:nth-child(3n)){
    //margin-right: 4%;
    //}可以用gap 取代
    
    @include pad{
      width: 45.3%;
      //&:not(:nth-child(2n)){
      //margin-right: 4%;
      //} 可以用gap 取代
    }
    
    @include mobile{
      width: 90%;
    }
  }
   
  .card-header{
    padding: 0;
    height: 137px;
    
    background-position: center ;
    background-size: cover;
    
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
  }
  
  .card-title{
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 14px;
    
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: end;
    
    color:white;
    h4{
      font-size: 24px;
    }
  }
  
  .card-body{
    padding-top: 15px;
    padding-bottom: 19px;
    padding-left: 24px;
    padding-right: 24px;
    
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    li{
      display: flex;
      align-items: center;
      
      &:not(last-child){
        margin-bottom: 14px;
      }
      
      &:nth-child(1n) i{
        color: #8A82CC;
     }
      &:nth-child(2n) i{
        color:#FFA782;
     }
      
      i{
        margin-right: 10px;
        
        font-size: 18px;
        text-align: center;
        width: 18px;
        height: 18px;
      }
    }
  }
  
  .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    div{
      display: flex;
      align-items: center;
    }
    
    & div:nth-child(1n) i{
        color: #559AC8;
     }
      & div:nth-child(2n) i{
        color:#F5D005;
     }
  }
  
  .card-footer-item{
    &[data-display*="d-none"]{
    display: none;
  }
  
  }
  
  .pagination-list{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 8px;
  }
  
  .page-item{
     &:not(:last-child){
      margin-right: 8px;
    }
  }
  
  .page-link{
    display: block;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 17px;
    padding-left: 5px;
    padding-right: 5px;
    
    &:disabled{
      pointer-events: none;
    }
    
    &.active{
      color: #559AC8;
    }
    &[data-type="page"]{
      font-size: 14px;
      color: rgba(74,74,74,0.50);
      pointer-events: none;
    }
      
    &.active{
      &[data-type="page"]{
      font-size: 14px;
      color:  #4A4A4A;
      pointer-events: auto;
    }
    }
    
  }
  
  
  .footer{
    background-color: #559AC8;
    
    padding-top: 24px;
    padding-bottom: 24px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    p{
      color: #FFD366;
    }
    & p:first-child{
      margin-bottom: 15px;
    }
    a{
      color: #fff;
    }
  
  
  }